<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="2.0.78" targetFramework="net462" />
  <package id="NLog" version="4.7.9" targetFramework="net462" />
  <package id="NuGet.CommandLine" version="5.8.1" targetFramework="net48" developmentDependency="true" />
</packages>